<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoリスト</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="main">
        <h1>Notepad</h1>
        <form action="/item" method="POST">
            <input type="text" name="ToDoItem" placeholder="ToDoを入力"><button class="additionalButton" type="submit">追加</button>
        </form>
    </div>
    <% if(data.length > 0 || active) {%>
        <div class="container_list">
            <% for (var i = 0; i < data.length; i++) {%>
                <div class="item">
                    <h1>やること<%= i %>: <%= data[i] %>
                        <div>
                            <form action="/delete" method="POST">
                                <input type="hidden" name="itemToDelete" value="<%= data[i] %>">
                                <button type="submit" class="additionalButton">削除</button>
                            </form>
                            <% if(editActive) {%>
                            <form action="/editbutton" method="POST">
                                <button type="submit">編集する</button>
                            </form>
                            <% } %>
                            <% if(active) {%>
                            <form action="/edit" method="POST">
                                <input type="hidden" name="originalText" value="<%= data[i] %>">
                                <input type="text" name="editedText" value="<%= data[i] %>" placeholder="<%= data[i] %>">
                                <button type="submit" >編集</button>
                            </form>
                            <% } %>
                        </div>
                    </h1>
                </div>
            <% } %>
        </div>
    <% } else { %>
        <h1>ToDoリストがありません。</h1>
    <% } %>
</body>
</html>
